extends ../layouts/base.pug

block content
    section
        div.grid
            div.col_4of12
            div.col_8of12
                div!= data.setList.text

    each set in data.setList.sets
        section
            div.grid
                div.col_6of12
                    img(src=mkImgUrl('c_fit,q_auto:best,w_1200', set.coverImg))
                div.col_6of12
                    div!= set.text
                    ul
                        each track in set.tracks
                            li(data-audio-file= JSON.stringify(track.audioFile))
                                img(src=mkImgUrl('c_fit,q_auto:best,w_100', track.img))
                                - console.log(`/${track.audioFile.path}${track.audioFile.filename}`)
                                span= `${track.artist} — ${track.title}`
                                audio(
                                    controls
                                    src=track.getUrl())
                    div
                        a(href="#") download
