extends ../layouts/base.pug

block content
    section.wrapper.blocks.blocks_center
        div.blocks-block.blocks-block_2up
            div.txt_light.txt_lg!= data.setList.text

    each set in data.setList.sets
        section.wrapper.blocks
            div.blocks-block.blocks-block_2thirds
                div.fitParent.slideShow(data-set-img-target-id=set._id)
                    img.slideShow-img(
                        src=mkImgUrl('c_fit,q_auto:best,w_1200', set.coverImg))
            div.blocks-block.blocks-block_1third
                div!= set.text
                ul
                    each track in set.tracks
                        li.audioTrack(data-audio-file= JSON.stringify({
                            sequence: track.sequence,
                            artist: track.artist,
                            title: track.title,
                            url: track.getUrl(),
                            trackImgUrl: mkImgUrl('c_fit,q_auto:best,w_1200', track.img),
                            setId: set._id,
                        }))
                            div.audioTrack-info
                                div.audioTrack-title= track.title
                                div.audioTrack-artist= track.artist
                                div.audioTrack-progress
                                    div.audioTrack-progress-bar
                                    div.audioTrack-progress-current
                                    div.audioTrack-progress-duration


