extends ../layouts/base.pug

block content
    section.grid.wrapper
        div.grid-col.grid-col_8of12.grid-col_offset2of12
            div!= data.setList.text

    each set in data.setList.sets
        section.grid.wrapper
            div.grid-col.grid-col_6of12
                img.fitParent(src=mkImgUrl('c_fit,q_auto:best,w_1200', set.coverImg))
            div.grid-col.grid-col_6of12
                div!= set.text
                ul
                    each track in set.tracks
                        li(data-audio-file= JSON.stringify({
                            sequence: track.sequence,
                            artist: track.artist,
                            title: track.title,
                        }))
                            img(src=mkImgUrl('c_fit,q_auto:best,w_100', track.img))
                            span= `${track.artist} — ${track.title}`
                            audio(
                                controls
                                preload="metadata"
                                src=track.getUrl())
                div
                    a(href="#") download
