extends ../layouts/base.pug

block content
    section.wrapper.blocks.blocks_center
        div.blocks-block.blocks-block_2up
            div.txt_light.txt_lg!= data.setList.text

    each set in data.setList.sets
        section.wrapper.blocks
            div.blocks-block.blocks-block_2thirds
                img.fitParent(src=mkImgUrl('c_fit,q_auto:best,w_1200', set.coverImg))
            div.blocks-block.blocks-block_1third
                div!= set.text
                ul
                    each track in set.tracks
                        li.audioTrack(data-audio-file= JSON.stringify({
                            sequence: track.sequence,
                            artist: track.artist,
                            title: track.title,
                        }))

                            img.audioTrack-img(
                                src=mkImgUrl('c_fit,q_auto:best,w_100', track.img))
                            div.audioTrack-info
                                div.audioTrack-title= track.title
                                div.audioTrack-artist= track.artist
                            audio(
                                preload="metadata"
                                src=track.getUrl())

    section.wrapper
        a(href="#") download
